@model SdojWeb.Models.QuestionDataCreateModel

@{
    ViewBag.Title = "创建测试数据";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.EditorForModel()
        @Html.HiddenFor(x=>x.QuestionId)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="创建" class="btn btn-default"/>
            </div>
        </div>
    </div>
}