@using Microsoft.Web.Mvc
@model SdojWeb.Models.QuestionDataEditModel

@{
    ViewBag.Title = "删除";
}

<h2>@ViewBag.Title</h2>

<h3>你确定要删除该测试数据吗？</h3>
<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Input)
        </dt>
        <dd class="well">
            @Html.DisplayFor(model => model.Input)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Output)
        </dt>
        <dd class="well">
            @Html.DisplayFor(model => model.Output)
        </dd>
    </dl>
    
    @using (Html.BeginForm(new { id = Model.Id, questionId = Model.QuestionId }))
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回列表", "ListForQuestion", new {id=Model.QuestionId})
        </div>
    }
</div>