@using System.Web.Mvc.Html;
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "管理帐户";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-md-12">
        @if (ViewBag.HasLocalPassword)
        {
            @Html.Partial("_ChangePasswordPartial")
        }
        else
        {
            @Html.Partial("_SetPasswordPartial")
        }
        
        <h4>删除帐号</h4>
        <hr />
        <p>删除帐号可以永久性的删除当前帐号并清空与当前帐号有关的一切资料。</p>
        @using (Html.BeginForm("DeleteMe", "Account", FormMethod.Post, new {id = "delete-form"}))
        {
            @Html.AntiForgeryToken()
            
            <div class="form-group">
                    <input type="submit" value="删除帐号" class="btn btn-default" />
            </div>
        }

        <section id="externalLogins">
            @Html.Action("RemoveAccountList")
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "LinkLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#delete-form").submit(function(e) {
            if (!confirm("确实要删除当前帐号吗？\r\n帐号删除后，所有资料都无法恢复。")) {
                e.preventDefault = true;
            }
        });
    </script>
}
