@using Microsoft.AspNet.Identity
@model SdojWeb.Models.QuestionGroupDetailModel

@{
    ViewBag.Title = Model.Name;
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>@Model.Description</h4>
    <hr />
</div>

@Html.Partial("_DetailQuestion", Model.Questions)

<p>
    @if (User.Identity.GetUserId<int>() == Model.CreateUserId)
    {
        <text>
            @Html.ActionLink("编辑", "Edit", new { id = Model.Id }) |
        </text>
    }
    @Html.ActionLink("返回列表", "Index")
</p>