@model SdojWeb.Models.QuestionGroupDetailModel

@{
    ViewBag.Title = Model.Name;
}

<h2>@ViewBag.Title</h2>
<span class="pull-right">@Model.Id</span>

<div>
    <h4>@Model.Description</h4>
    <hr />
</div>

@Html.Partial("_DetailQuestion", Model.Questions)

<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("返回列表", "Index")
</p>