@using Microsoft.AspNet.Identity
@model SdojWeb.Models.QuestionGroupDetailModel

@{
    ViewBag.Title = Model.Name;
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>@Model.Description</h4>
    <hr />
</div>

@Html.Partial("_DetailQuestion", ViewData["QuestionItems"], new ViewDataDictionary { { "id", Model.Id } })

<div class="row">
    <div class="col-xs-12">
        <div class="pull-right">
            @if (User.Identity.GetUserId<int>() == Model.CreateUserId)
            {
                <form id="delete-form" action="@Url.Action("Delete", new { id = Model.Id })" method="post">
                    @Html.AntiForgeryToken()
                    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary">
                        <i class="glyphicon glyphicon-pencil"></i>
                        编辑
                    </a>
                    <button class="btn btn-danger" type="submit">
                        <i class="glyphicon glyphicon-remove"></i>
                        删除
                    </button>
                </form>
            }
        </div>
    </div>
</div>

@Html.ActionLink("返回列表", "Index")

@section scripts
{
    <script>
        $("#delete-form").submit(function (e) {
            if (!confirm("确定要删除吗？")) {
                e.preventDefault();
            }
        });
    </script>
}