@using SdojWeb.Models.ContestModels
@using SdojWeb.Models
@model ContestDetailsInQuestionModel
@{
    Layout = null;
    var language = Languages.CSharp;
}
<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Model.Name - sdoj</title>
    @Styles.Render("~/Content/css")
    <style>
        .code {height: 500px;}
    </style>
</head>
<body data-rest-time="@((Model.Duration - (DateTime.Now - Model.StartTime)).Value.TotalSeconds)">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(@Model.Name, "Details", new { }, new { @class = "navbar-brand", data_id = Model.Id })
                <ul class="nav navbar-nav">
                    @foreach (QuestionBriefModel question in Model.Questions)
                    {
                        <li data-id="@question.Id" class="@(question.Rank == Model.Rank ? "active" : "")">
                            <a href="~/contest/details/@Model.Id/question/@question.Rank">
                                @question.Rank.<strong>@question.Name</strong>
                            </a>
                        </li>
                    }
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
                &nbsp;
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @Html.Partial("_Alerts")
        &nbsp;
        <div class="row">
            <!-- 问题描述 -->
            <div class="col-xs-4">
                @Html.Partial("../Question/_Details", Model.CurrentQuestion)
            </div>
            <!-- 编辑代码 -->
            <div class="col-xs-4">
                <form id="codeForm" data-bind="submit: submit">
                    <div class="form-group clearfix">
                        @Html.EnumDropDownListFor(x => language, new { @class = "form-control" })
                    </div>
                    <div class="code"></div>
                    <div class="pull-right">
                        <button class="btn btn-primary">提交</button>
                    </div>
                </form>
            </div>
            <!-- 提交列表 -->
            <div class="col-xs-4">
                <div class="clearfix">
                    <strong>提交列表</strong>
                    <button class="btn btn-xs btn-default pull-right" data-bind="click: loadSolutions">
                        <i class="glyphicon glyphicon-refresh"></i>
                        刷新
                    </button>
                    <label class="pull-right">剩余时间: <strong data-bind="text: restTimeText"></strong></label>
                </div>
                <div id="solutions"></div>
            </div>
        </div>
        <hr />
        <footer>
            <p>
                &copy; @DateTime.Now.Year - sdoj
            </p>
        </footer>
    </div>
    @Html.Partial("../Solution/_LanguageTemplate")
    @Html.Partial("../Solution/_SourceModal")
    @Html.Partial("../Solution/_CompilerOutputModal")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/marked")
    @Scripts.Render("~/bundles/ko")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>
    <script>
        $(".markdown").each(function (i, ee) {
            var e = $(ee);
            var text = e.text();
            var m = marked(text);
            e.html(m);
            e.closest('.well').css({ "padding-bottom": "0" });
        });
    </script>
    <script src="https://cdn.bootcss.com/ace/1.4.3/ace.js"></script>
    <script src="~/Scripts/app/lang-common.js"></script>
    <script src="~/Scripts/app/contest/details.js"></script>
    <script>
        var vm = new Contest.DetailsModel();
        ko.applyBindings(vm);
    </script>
</body>
</html>