@using SdojWeb.Infrastructure.Extensions
@using SdojWeb.Models
@model IEnumerable<QuestionSummaryViewModel>  
@{
    var sortablePagedList = Model as SortablePagedList<QuestionSummaryViewModel>;
    var orderBy = sortablePagedList.OrderBy;
    var asc = sortablePagedList.Asc;
}

<table class="table">
    <tr>
        <th>
            @Html.SortableHeaderFor(model => model.Id, "Index", orderBy, asc)
        </th>
        <th>
            @Html.SortableHeaderFor(model => model.Name, "Index", orderBy, asc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemoryLimitMb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeLimit)
        </th>
        <th>
            @Html.SortableHeaderFor(model => model.UpdateTime, "Index", orderBy, asc)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemoryLimitMb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateTime)
            </td>
            <td>
                <a href="@Url.Action("Edit", new {id=item.Id})" title="编辑" class="glyphicon glyphicon-pencil"></a>
                <a href="@Url.Action("ListForQuestion", "QuestionData", new {id=item.Id})" title="测试数据" class="glyphicon glyphicon-file"></a>
                <a href="@Url.Action("Delete", new {id=item.Id})" title="删除" class="glyphicon glyphicon-remove text-danger"></a>
            </td>
        </tr>
    }
</table>
