@using SdojWeb.Infrastructure.Extensions
@using SdojWeb.Models
@model IEnumerable<QuestionSummaryViewModel>  
@{
    var sortablePagedList = Model as SortablePagedList<QuestionSummaryViewModel>;
    var orderBy = sortablePagedList.OrderBy;
    var asc = sortablePagedList.Asc;
}

<table class="table">
    <tr>
        <th>
            @Html.SortableHeaderFor(model => model.Name, "Index", orderBy, asc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MemoryLimitMb)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeLimit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SolutionCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "Details", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemoryLimitMb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeLimit)
            </td>
            <td>
                <a href="@Url.Action("ListForQuestion", "QuestionData", new {id=item.Id})">
                    @Html.DisplayFor(x => item.DataCount)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SolutionCount)
            </td>
            <td>
                <a href="@Url.Action("Edit", new {id=item.Id})">
                    @Html.DisplayFor(modelItem => item.UpdateTime)
                </a>
            </td>
            <td>
                <a href="#" data-id="@item.Id" title="删除" class="glyphicon glyphicon-remove text-danger delete-link"></a>
            </td>
        </tr>
    }
</table>
