@model SdojWeb.Models.QuestionCreateModel

@{
    ViewBag.Title = "创建";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Create", "Question", FormMethod.Post, new {id="create-form"})) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>题目</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.EditorForModel()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="创建" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回列表", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/marked")
    @Scripts.Render("~/bundles/bootstrap-markdown")
    @Styles.Render("~/bundles/bootstrap-markdown-css")

    <script>
        $("select[name='QuestionType']").hide();
        var createForm = $("#create-form");
        createForm.find("[name='Source']").attr('required', true);
        var modeElements = [];

        var Mode = {
            DataDriven: 0, 
            Process2Driven: 1
        };

        function initElements() {
            modeElements[Mode.DataDriven] = [
            ];
            modeElements[Mode.Process2Driven] = [
                createForm.find("[name='Language']"),
                createForm.find("[name='Source']"),
                createForm.find("[name='RunTimes']")
            ];

            for (var i = 0; i < modeElements.length; ++i) {
                for (var j = 0; j < modeElements[i].length; ++j) {
                    modeElements[i][j] = modeElements[i][j].closest(".form-group");
                }
            }
        }

        function hideAll() {
            for (var i = 0; i < modeElements.length; ++i) {
                for (var j = 0; j < modeElements[i].length; ++j) {
                    modeElements[i][j].hide();
                }
            }
        }

        function switch_display_mode(mode) {
            hideAll();
            for (var i = 0; i < modeElements[mode].length; ++i) {
                modeElements[mode][i].show();
            }
        }

        createForm.find("select[name='QuestionType']").change(function () {
            switch_display_mode($(this).val());
        });

        // Entry point: 
        initElements();
        switch_display_mode(Mode.DataDriven);
    </script>
}
