@using Microsoft.Web.Mvc;
@model SdojWeb.Models.Question

@{
    ViewBag.Title = "详细信息";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>题目</h4>
    <hr />



    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SampleInput)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SampleInput)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SampleOutput)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SampleOutput)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemoryLimitMB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemoryLimitMB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeLimit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeLimit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("编辑", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("返回列表", "Index")
</p>
