@model SdojWeb.Models.QuestionEditModel

@{
    ViewBag.Title = "编辑";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>题目</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.EditorForModel()
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary" >
                    <i class="glyphicon glyphicon-file"></i>
                    保存
                </button>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn btn-default" href="@Url.Action("Data", new {id=Model.Id})">
                    <i class="glyphicon glyphicon-edit"></i>
                    编辑测试数据
                </a>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回详情", "Details", new {id=Model.Id}) |
    @Html.ActionLink("返回列表", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
