@using PagedList
@using PagedList.Mvc
@using SdojWeb.Infrastructure.Extensions
@using SdojWeb.Models
@model IPagedList<QuestionSummaryViewModel>

@{
    ViewBag.Title = "题目列表";
    var sortablePagedList = Model as SortablePagedList<QuestionSummaryViewModel>;
    var orderBy = sortablePagedList.OrderBy;
    var asc = sortablePagedList.Asc;
}

<h2>@ViewBag.Title</h2>

<div class="pull-right">
    <a class="btn btn-default btn-xs" href="@Url.Action("Create")">
        <i class="glyphicon glyphicon-plus"></i>
        创建题目
    </a>
</div>

@Html.Partial("_List")

<div class="row">
    <div class="col-xs-6">
        第 @Model.PageNumber 页，共 @Model.PageCount 页
    </div>
    <div class="pull-right">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, orderBy, asc }))
    </div>
    
</div>

@using (Html.BeginForm("Delete", "Question", FormMethod.Post, new {id="delete-form"}))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="id"/>
}

@section scripts
{
    <script>
        function deleteMe(id) {
            if (confirm('确定要删除此题目吗？')) {
                $("#delete-form input[name='id']").val(id);
                $("#delete-form").submit();
            }
        }
    </script>
}
