@model SdojWeb.Models.SolutionDeleteModel

@{
    ViewBag.Title = "删除解答";
}

<h2>@ViewBag.Title</h2>

<h3>你确定要删除该解答吗？</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionName)
        </dt>

        <dd>
            @Html.ActionLink(Model.QuestionName, "Details", "Question", new {id=Model.QuestionId}, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Source)
        </dt>

        <dd class="well">
            @Html.DisplayFor(model => model.Source)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回列表", "Index")
        </div>
    }
</div>
