@using SdojWeb.Infrastructure.Identity
@model SdojWeb.Models.SolutionDetailModel
@{
    ViewBag.Title = "源代码";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <p class="pull-right">
        @if (User.IsUserOrRole(Model.QuestionCreateUserId, SystemRoles.QuestionAdmin))
        {
            <button class="btn btn-warning" id="rejudge">重新评测</button>
        }
    </p>
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.QuestionName)</dt>
        <dd>@Html.ActionLink(Model.QuestionName, "Details", "Question", new { id = Model.QuestionId }, null)</dd>

        <dt>@Html.DisplayNameFor(model => model.Language)</dt>
        <dd>@Html.DisplayFor(model => model.Language)</dd>

        <dt>@Html.DisplayNameFor(model => model.Source)</dt>
        <dd><pre class="well">@Html.DisplayFor(model => model.Source)</pre></dd>
    </dl>
</div>
<p>
    @Html.ActionLink("解答列表", "Index")
</p>

@using (Html.BeginForm("ReJudge", "Solution", new { id = Model.Id }, FormMethod.Post, new { id = "rejudge-form" }))
{
    @Html.AntiForgeryToken()
}

@section scripts
{
    <script>
        $("#rejudge").click(function () {
            if (confirm('确实要重新评测吗？')) {
                $("#rejudge-form").submit();
            }
        });
    </script>
}
