@using System.Security.Principal
@using PagedList
@using PagedList.Mvc
@using SdojWeb.Infrastructure.Extensions
@using SdojWeb.Infrastructure.Identity
@using SdojWeb.Models
@model IEnumerable<SolutionSummaryModel>

@{
    ViewBag.Title = "解答列表";

    Func<int, int, string> getAccessClass = (int authorId, int questionCreatorId) =>
    {
        IPrincipal user = User;
        IIdentity identity = user.Identity;
        int userId = identity.GetIntUserId();

        if (userId == authorId ||
            userId == questionCreatorId ||
            user.IsInRole(SystemRoles.QuestionAdmin))
        {
            return "";
        }
        return "disabled";
    };
}

<h2>@ViewBag.Title</h2>

@if (User.Identity.IsAuthenticated)
{
    @(ViewBag.OnlyMe ? 
        Html.ActionLink("查看所有解答", "Index", new {onlyme = false}) : 
        Html.ActionLink("仅看我的解答", "Index", new {onlyme = true}))
}
<div class="table-responsive">
    <table class="table table-hover table-striped table-bordered table-condensed">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CreateUserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.QuestionName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Language)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SourceLength)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RunTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UsingMemoryMb)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SubmitTime)
                </th>
                <th colspan="2">操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateUserName)
                    </td>
                    <td>
                        @Html.ActionLink(item.QuestionName, "Details", "Question", new { id = item.QuestionId }, null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Language)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SourceLength)
                    </td>
                    <td id="state-@item.Id">
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RunTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UsingMemoryMb)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubmitTime)
                    </td>
                    @if (getAccessClass(item.CreateUserId, item.QuestionCreateUserId) == "")
                    {
                        <td>
                            <a class="btn btn-primary btn-xs btn-block"
                               href="@Url.Action("Details", new {id = item.Id})">
                                <i class="glyphicon glyphicon-file"></i>
                                源码
                            </a>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-xs btn-block " onclick="deleteMe(@item.Id)">
                                <i class="glyphicon glyphicon-remove"></i>
                                删除
                            </button>
                        </td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                    }
                    
                </tr>
            }
        </tbody>
    </table>
</div>


<div>
    @{var pagedList = Model as IPagedList<SolutionSummaryModel>;}
    第 @pagedList.PageNumber 页，共 @pagedList.PageCount 页
    @Html.PagedListPager(pagedList, page => Url.Action("Index", new { page, onlyme = ViewBag.OnlyMe }))
</div>

@using (Html.BeginForm("Delete", "Solution", FormMethod.Post, new {id = "delete-form"}))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="id"/>
}

@section scripts
{
    @Scripts.Render("~/bundles/signalr")
    <script src="~/signalr/hubs"></script>

    <script>
        
        function deleteMe(id) {
            if (confirm('确定要删除此解答吗？')) {
                $("#delete-form input[name='id']").val(id);
                $("#delete-form").submit();
            }
        }

        var shub = $.connection.solutionHub;
        shub.client.push = function(id, name) {
            $("#state-" + id).text(name);
        };
        $.connection.hub.start();
    </script>
}
