@using SdojWeb.Models
@model IEnumerable<SdojWeb.Models.Role>

@{
    var user = ViewBag.User as UserSummaryViewModel;
    if (user == null)
    {
        throw new ArgumentNullException();
    }
    ViewBag.Title = string.Format("{0}的角色列表", user.UserName);
}

<h2>@ViewBag.Title</h2>

<div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var role in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(item => role.Name)
                    </td>
                    <td>
                        @if (user.Roles.Any(x => x.Name == role.Name))
                        {
                            using (Html.BeginForm("DeleteUserRole", "Identity", new { userId = user.Id, roleId = role.Id }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-xs btn-block btn-warning">
                                    <i class="glyphicon glyphicon-minus"></i>
                                    删除
                                </button>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("AddUserRole", "Identity", new { userId = user.Id, roleId = role.Id }, FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-xs btn-block btn-success" value="添加">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    添加
                                </button>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@Html.ActionLink("返回列表", "Users")