@using SdojWeb.Infrastructure.Extensions
@model IEnumerable<SdojWeb.Models.UserSummaryViewModel>

@{
    ViewBag.Title = "用户管理";
}

<h2>@ViewBag.Title</h2>

<table class="table" id="user-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th></th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(@user.UserName, "Edit", new { id = user.Id })
            </td>
            <td>
                @Html.DisplayFor(item => user.EmailConfirmed)
            </td>
            <td>
                @String.Join(",", user.Roles.Select(x => x.Name))
            </td>
            <td>
                @Html.DeleteIcon(user.Id)
            </td>
        </tr>
    }
</table>

@using (Html.BeginForm("DeleteUser", "Identity", FormMethod.Post, new {id="delete-form"}))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="id"/>
}

@section scripts
{
    <script>
        $("#user-table .delete-link").click(function () {
            if (confirm("确定要删除该用户吗？\r\n所有与该用户相关联的资料都将删除并不可恢复。")) {
                var id = $(this).data('id');
                $("#delete-form input[name='id']").val(id);
                $("#delete-form").submit();
            }
        });
    </script>
}