@using PagedList.Mvc
@using SdojWeb.Infrastructure.Extensions
@using SdojWeb.Models
@model IEnumerable<UserSummaryViewModel>
@{
    ViewBag.Title = "用户管理";
    var paged = (SortablePagedList<UserSummaryViewModel>)Model;
    var route = (RouteValueDictionary)ViewBag.Route;
    var thb = paged.GetThBuilder(Html, "Users", route);
    Func<int, RouteValueDictionary> getPagedRoute = p => new RouteValueDictionary(route) { { "page", p } };
}
<h2>@ViewBag.Title</h2>

<form class="search-form" method="GET" action="@Url.Action("Users")">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <input type="text" class="form-control input-sm" name="username" placeholder="用户名..." value="@route["username"]" />
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <input type="text" class="form-control input-sm" name="email" placeholder="电子邮件..." value="@route["email"]" />
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <select class="form-control input-sm" name="confirmed" data-bind="value: confirmed">
            <option value="">邮件验证...</option>
            <option value="True">是</option>
            <option value="False">否</option>
        </select>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <select class="form-control input-sm" name="role" data-bind="value: role">
            <option value="">选择角色...</option>
            <option>用户管理员</option>
            <option>题目管理员</option>
            <option>题目作者</option>
            <option>评测人员</option>
            <option>-</option>
        </select>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
        <button class="btn btn-default btn-sm" type="submit">过滤</button>
    </div>
</form>

<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover table-striped" id="user-table">
                <thead>
                    <tr>
                        <th>
                            @thb.BuildA(x => x.UserName)
                        </th>
                        <th>
                            @thb.BuildA(x => x.Email)
                        </th>
                        <th>
                            @thb.BuildA(x => x.EmailConfirmed)
                        </th>
                        <th>
                            @Html.DisplayNameFor(x => x.Roles)
                        </th>
                        <th colspan="2">操作</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(x => user.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(x => user.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(item => user.EmailConfirmed)
                            </td>
                            <td>
                                @foreach (var item in user.Roles)
                                {
                                    <span class="label label-info">@Html.DisplayFor(x => item.Name)</span>
                                }
                            </td>
                            <td>
                                <a class="btn btn-primary btn-xs btn-block" href="@Url.Action("Edit", new {id=user.Id})">
                                    <i class="glyphicon glyphicon-cog"></i>
                                    管理角色
                                </a>
                            </td>
                            <td>
                                <button class="btn btn-danger btn-xs btn-block" onclick="deleteMe(@user.Id)">
                                    <i class="glyphicon glyphicon-remove"></i>
                                    删除
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6">
        第 @paged.PageNumber 页，共 @paged.PageSize 页
    </div>
    <div class="col-xs-6">
        <div class="pull-right">
            @Html.PagedListPager(paged, page => Url.Action("Users", getPagedRoute(page)))
        </div>
    </div>
</div>

@using (Html.BeginForm("DeleteUser", "Identity", FormMethod.Post, new { id = "delete-form" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="id" />
}
@section scripts
{
    @Scripts.Render("~/bundles/ko")
    <script>
        function deleteMe(id) {
            if (confirm("确定要删除该用户吗？\r\n所有与该用户相关联的资料都将删除并不可恢复。")) {
                $("#delete-form input[name='id']").val(id);
                $("#delete-form").submit();
            }
        }

        var vm = {
            confirmed: '@route["confirmed"]',
            role: '@route["role"]'
        };
        ko.applyBindings(vm);
    </script>
}